.element {
    max-width: 50%;
    display: block; // Centrar imágen
    margin-left: auto; // Centrar imágen
    margin-right: auto; // Centrar imágen
}

.zona-1 {
    border: thin solid black;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    margin: 10px;
    height: 100%;
    width: 10%;
}

.zona-2 {
    border: thin solid rgb(240, 224, 1);
    position: absolute;
    right: 0;
    left: 10%;
    top: 0;
    margin: 10px;
    height: 100%;
    width: 90%;
    display: block;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
    padding: 10px 0;
}

.menu>li {
    font: inherit;
    border: 0;
    padding: 10px 30px 10px 15px;
    width: 100%;
    display: flex;
    cursor: pointer;
    align-items: center;
    position: relative;
    text-decoration: unset;
    color: #000;
    font-weight: 500;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -o-transition: 00.5s linear;
}

.menu>li:hover {
    background: #b6b5b1;
}

ul {
    list-style: none;
}