* {
    margin: 0;
}

.element {
    max-width: 50%;
    display: block; // Centrar imágen
    margin-left: auto; // Centrar imágen
    margin-right: auto; // Centrar imágen
    margin-top: 5px;
    margin-bottom: 5px;
}

.borrar {
    text-align: center;
    align-items: flex-start;
}

.row {
    display: flex;
}

.zona-1 {
    border: thin solid black;
    right: 0;
    left: 0;
    top: 0;
    margin: 0;
    height: 100vh;
    width: 10%;
    font-family: 'Anek Malayalam', sans-serif;
    font-family: 'Patua One', cursive;
}

.zona-2 {
    border: thin solid rgb(240, 224, 1);
    right: 0;
    left: 0;
    top: 0;
    margin: 0;
    height: 100vh;
    width: 90%;
}

.zona-3 {
    border: thin solid rgb(0, 255, 98);
    right: 0;
    left: 0;
    top: 0;
    margin: 0;
    display: none;
    width: 700px;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
    padding: 10px 0;
}

.menu>li {
    font: inherit;
    border: 0;
    padding: 10px 30px 10px 15px;
    display: flex;
    cursor: pointer;
    align-items: center;
    position: relative;
    text-decoration: unset;
    color: #000;
    font-weight: 500;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -o-transition: 00.5s linear;
}

.menu>li:hover {
    background: #b6b5b1;
}

ul {
    list-style: none;
}

.barra-menu {
    width: 100%;
    background: blanchedalmond;
}

.opciones-menu {
    display: inline-block;
    background-color: skyblue;
    color: white;
    border: none;
    cursor: pointer;
    padding: 20px;
    font-family: 'Anek Malayalam', sans-serif;
    font-family: 'Patrick Hand', cursive;
}

.opciones-menu:hover {
    background-color: rgb(4, 142, 6);
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.dropdown-child {
    display: none;
    background-color: skyblue;
    min-width: 180px;
}

.dropdown:hover .dropdown-child {
    position: absolute;
    display: block;
}

.dropdown-child button {
    color: black;
    padding: 20px;
    text-decoration: none;
    display: block;
}

.barra-menu li {
    list-style: none;
}